.buttons-container
  z-index 2
  display flex
  flex-direction row
  align-items center
  margin-top 5

button
  cursor pointer
  margin-right 4px
  padding 11px 16px
  background linear-gradient(45deg, #214a46, #1f2c29)
  border 2px solid #736737
  color #8f9078

.shape-button
  display inline-block
  width 53px
  height 38px
  &:not(:last-child)
    margin-right 4px
  &:first-child
    margin-left 10px

.active-shape-button
  display inline-block
  width 58px
  height 42px
  box-sizing border-box
  background-image linear-gradient(to right, #FFD700 50px, transparent 50px), linear-gradient(to bottom, #FFD700 50px, transparent 50px), linear-gradient(to right, #FFD700 50px, transparent 50px), linear-gradient(to bottom, #FFD700 50px, transparent 50px)
  background-size 100% 5px, 5px 100%, 100% 5px, 5px 100%
  background-repeat no-repeat
  background-position -14px 0px, right -10.5px, 58px bottom, 0px 42px
  animation border 5s linear infinite

  &:not(:last-child)
    margin-right 4px
  &:first-child
    margin-left 10px

  > button
    margin-right 2px !important
    margin-left 2px !important
    margin-top 2px !important
    margin-bottom 2px !important

  @keyframes border {
    25% {
      background-position: 58px 0px, right -10.5px, 58px bottom, 0px 42px;
    }
    50% {
      background-position: 58px 0px, right 42px, 58px bottom, 0px 42px;
    }
    75% {
      background-position: 58px 0px, right 42px, -14.5px bottom, 0px 42px;
    }
    100% {
      background-position: 58px 0px, right 42px, -14.5px bottom, 0px -10.5px;
    }
  }

@font-face 
    font-family LoL Display
    font-weight 400
    font-style normal
    src: url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.woff2) format("woff2"), url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.ttf) format("truetype"), url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.eot?#iefix) format("eot"), url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.woff) format("woff"), url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.svg) format("svg")

body
    font-family LoL Display
    margin-top 0px
    margin-right 0px
    margin-bottom 0px
    margin-left 0px

button.colorButton
  &.blue
    background transparent
    background-color blue

  &.red
    background transparent
    background-color red

  &.black
    background transparent
    background-color black

  &.green
    background transparent
    background-color green

.select
  width 125px

.select-option
  cursor pointer
  font-family "FontAwesome, Helvetica"
  width 125px
  line-height 24px
  vertical-align middle
  background linear-gradient(45deg, #214a46, #1f2c29)
  color #8f9078
  &:hover
    background-color #c1e2ff

.select-value
  position relative
  top -2
  vertical-align middle
  width 125px
  border 2px solid #736737
  background linear-gradient(45deg, #214a46, #1f2c29)
  color #8f9078
  line-height 24px

.select-control
  border-radius 0px
  border-width 0px

.select-input
  height 28px

.select-menu-outer > div
  overflow-x hidden
  overflow-y hidden

.select-clear
  display none

.timerInput
  padding 11px 16px
  color #8f9078
  background linear-gradient(45deg, #214a46, #1f2c29)
  border 2px solid #736737
  &::-webkit-input-placeholder
    color #8f9078